.outerContainer {
  background: #eff6ff;
  height: 100%;
  padding: 3% 10%;
}

.changePasswordContainer {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.051);
  height: 100%;
  padding: 10% 20%;
}

.headDesc {
  margin-bottom: 55px;
}

.headDesc p {
  color: #7a7886;
  font-size: 16px;
}

.headDesc h5 {
  color: #3a3d42;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}

.formContainer .inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.emailLabel,
.nameLabel,
.passwordLabel {
  color: rgba(169, 169, 169, 0.8);
  cursor: text;
  position: absolute;
  left: 30px;
  /* transform: translate(1em, 0.6em); */
  transition: all 0.2s ease-in-out;
}

.moveLabel {
  font-weight: 600;
  transform: translate(-30px, -2em) !important;
}

.formContainer input {
  padding: 11px 30px;
  font-weight: 600;
  border-radius: 0;
  border-style: none;
  border-bottom: 1.5px solid #6379f4;
}

.formContainer button {
  width: 100%;
}

.eye,
.eyeSlash,
.lock {
  position: absolute;
}

.eye,
.eyeSlash {
  cursor: pointer;
  right: 0;
}

.formSection,
.moveLabel {
  color: #3a3d42;
}
