@media (max-width: 576px) {
  .leftBanner {
    display: none !important;
  }

  .formSection {
    padding: 16% !important;
    width: 100% !important;
  }
}

.leftBanner {
  background-color: #6379f4;
  width: 55%;
  padding: 4% 8%;
  color: #ffffff;
  position: relative;
}

.leftBanner::-webkit-scrollbar {
  display: none;
}

.leftBanner .imageGroup {
  margin: 38px 0px 24px;
}

.leftBanner h1,
.leftBanner h2,
.formSection h3 {
  font-weight: 700;
}

.leftBanner h1 {
  font-size: 29px;
}

.leftBanner h2,
.formSection h3 {
  font-size: 24px;
}

.leftBanner p {
  font-size: 16px;
  line-height: 32px;
}

.formSection {
  width: 45%;
  padding: 4% 8%;
}

.formSection h3 {
  line-height: 32px;
}

.formSection p {
  color: rgba(58, 61, 66, 0.6);
  line-height: 30px;
}

.formContainer {
  text-align: left;
  padding: 15px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  height: 3em;
}

.formContainer input {
  border: 1px solid rgba(169, 169, 169, 0.6);
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 12px rgba(99, 121, 244, 0.1);
  font-size: 100%;
  font-weight: 700;
  text-align: center;
  height: 100%;
  outline: none;
  width: 100%;
}

.formContainer input:not(:last-child) {
  margin-right: 10px;
}

.formContainer button {
  width: 100%;
  margin-top: 90px;
}
