.outerContainer {
  background: #eff6ff;
  height: 100%;
  padding: 3% 10%;
}
.dashboardContainer .head {
  background-color: #6379f4 !important;
}
.dashboardContainer .head h2 {
  color: #e0e0e0;
  font-size: 18px;
  margin: 0px;
}
.dashboardContainer .head p {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
}
.dashboardContainer .head span {
  color: #dfdcdc;
  font-size: 14px;
  font-weight: 600;
}
.dashboardContainer .head,
.stat,
.history {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5%;
}
.dashboardContainer .head button {
  border: 1px solid #ffffff;
  height: 57px;
  width: 162px;
}
.history {
  padding: 10%;
  height: 100%;
}
.history h2 {
  color: #3a3d42;
  font-size: 18px;
  font-weight: 700;
}
.historyHead {
  margin-bottom: 40px;
}
.historyHead a {
  color: #6379f4;
  font-size: 14px;
  font-weight: 600;
}
.historyHead h2 {
  margin: 0px;
}
.list span {
  color: #7a7886;
}
.list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px #0000000d;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}
.list img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  object-fit: cover;
}
.list h6,
.list p {
  font-size: 14px;
  font-weight: 700;
}
.list h6 {
  margin-bottom: 0px;
}
.list span {
  font-size: 12px;
}
.list p {
  font-size: 14px;
}
.in {
  color: #1ec15f;
}
.out {
  color: #ff5b37 !important;
}
.historyListContainer {
  overflow: auto;
  height: 240px;
  scrollbar-width: none;
}
.historyListContainer::-webkit-scrollbar {
  display: none;
}
.income h6,
.expense h6 {
  font-size: 14px;
  margin: 10px 0 8px !important;
}
.income span,
.expense span {
  font-size: 18px;
  font-weight: 700;
}
.stat {
  height: 100%;
}
.transfer {
  color: #1ec15f;
}

@media (max-width: 576px) {
  .dashboardContainer .head p {
    font-size: 32px;
  }
  .dashboardContainer .head h2 {
    font-size: 14px;
  }
  .dashboardContainer .head span {
    font-size: 10px;
  }

  .dashboardContainer .head button {
    font-size: 12px;
    height: 46px;
    width: 90px;
  }
}
