.outerContainer {
  background: #eff6ff;
  height: 100%;
  padding: 3% 10%;
}

.historyListContainer {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.051);
  height: 100%;
  padding: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyListContainer h4 {
  color: #3a3d42;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
.historyListContainer h5 {
  font-size: 16px;
  margin-bottom: 20px;
}

.historyListContainer h5,
.list span {
  color: #7a7886;
}

.list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px #0000000d;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.list img {
  height: 56px;
  width: 56px;
  border-radius: 10px;
  object-fit: cover;
}
.list h6,
.list p {
  font-size: 16px;
  font-weight: 700;
}
.list h6 {
  margin-bottom: 7px;
}
.list span {
  font-size: 14px;
}
.list p {
  font-size: 14px;
}
.income {
  color: #1ec15f;
}
.expense {
  color: #ff5b37;
}
.listContainer {
  scrollbar-width: none;
}
.overflowOn {
  height: 300px;
  overflow: auto;
}
.listContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 576px) {
}
