.outerContainer {
  background: #eff6ff;
  height: 100%;
  padding: 3% 10%;
}

.personalInfoContainer {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.051);
  height: 100%;
  padding: 7%;
}

.detailInfo {
  position: relative;
}

.personalInfoContainer a {
  color: #6379f4 !important;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.headDesc {
  margin-bottom: 55px;
}

.headDesc p {
  width: 50%;
}

.headDesc p,
.detailInfo h4 {
  color: #7a7886;
  font-size: 16px;
}

.headDesc h5 {
  color: #3a3d42;
  font-size: 18px;
  margin-bottom: 25px;
}

.headDesc h5,
.detailInfo p {
  font-weight: 700;
}

.detailInfo p {
  color: #514f5b;
  font-size: 22px;
}

.detailInfo p {
  margin-bottom: 50px;
}
